<ion-view title="My Music" id="page2">
    <ion-content padding="false" class="has-header has-footer">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="img/0sCo1PoQRPOfbQlrogU5_4.jpg">
                <h2>My first playlist</h2>
                <p></p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/0sCo1PoQRPOfbQlrogU5_4.jpg">
                <h2>My Second list</h2>
                <p></p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/0sCo1PoQRPOfbQlrogU5_4.jpg">
                <h2>Blabla list</h2>
                <p></p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/0sCo1PoQRPOfbQlrogU5_4.jpg">
                <h2>Good shit</h2>
                <p></p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/0sCo1PoQRPOfbQlrogU5_4.jpg">
                <h2>2016 list</h2>
                <p></p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/0sCo1PoQRPOfbQlrogU5_4.jpg">
                <h2>Rihanna list</h2>
                <p></p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>