<ion-view title="Search" id="page1">
    <ion-content padding="false" class="has-header has-footer">
        <form class="list">
            <label class="item item-input" name="search">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search">
            </label>
            <ion-item class="item-thumbnail-left">
                <img src="img/TfTLuxlQp2n0uFGl3mMA_2.jpg">
                <h2>Rihanna</h2>
                <p>Kiss It Better (Explicit)</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/odMyRDD1TXiGKNQo68dX_1.jpg">
                <h2>Rihanna</h2>
                <p>Work (Explicit) ft. Drake</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/U08KFMRQZ2Tr3h4g0VKh_3.jpg">
                <h2>Rihanna</h2>
                <p>Diamonds</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/odMyRDD1TXiGKNQo68dX_1.jpg">
                <h2>Rihanna</h2>
                <p>Work (Explicit) ft. Drake</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/TfTLuxlQp2n0uFGl3mMA_2.jpg">
                <h2>Rihanna</h2>
                <p>Kiss It Better (Explicit)</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/odMyRDD1TXiGKNQo68dX_1.jpg">
                <h2>Rihanna</h2>
                <p>Work (Explicit) ft. Drake</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" href="tel:">
                <img src="img/TfTLuxlQp2n0uFGl3mMA_2.jpg">
                <h2>Rihanna</h2>
                <p>Kiss It Better (Explicit)</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/U08KFMRQZ2Tr3h4g0VKh_3.jpg">
                <h2>Rihanna</h2>
                <p>Diamonds</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/TfTLuxlQp2n0uFGl3mMA_2.jpg">
                <h2>Rihanna</h2>
                <p>Kiss It Better (Explicit)</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/U08KFMRQZ2Tr3h4g0VKh_3.jpg">
                <h2>Rihanna</h2>
                <p>Diamonds</p>
            </ion-item>
        </form>
    </ion-content>
</ion-view>